<h3>About Component</h3>
<p>This is the about component!</p>
<div style="width: 100%;height: 700px;display: block">
  <div  *ngIf="show">
<chart type="StockChart" [options]="options" (load)="saveInstance($event.context)" style="width: 100%;height: 700px;position:absolute;" ></chart>
</div>
</div>
<div  style="width: 100%;display: block" >
    <!-- <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table> -->
    <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter the name column...'
        (keyup)='updateFilter($event)'
      />
    <ngx-datatable

    class='material'
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [rows]='rows'>
  </ngx-datatable>
</div>