<h3>
  Remitano FE
</h3>
<nav>
	<a [routerLink]="['/']">
    Home
  </a>
  |
	<a [routerLink]="['/about']">
    About
  </a>
  |
	<a [routerLink]="['/github', 'angular']">
    Github Repos
  </a>
  |
	<a [routerLink]="['/contact']">
    Contact Us
  </a>
</nav>

<main>
	<router-outlet></router-outlet>
</main>


<footer>
  © 2017
</footer>
